html {
  padding: 0;
}
body {
  background-color: $main-dark;
  padding: 0;
  margin: 0;
  .login-card {
    background-color: $secondary-dark;
    color: $text-color;
    padding: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  
  .box-center {
    background-color: $secondary-dark;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
  }

  .underline-title-login {
    border-bottom: 1px solid currentColor;
    line-height: 2;
    margin-bottom: 2%;
    color: $logo-color;
  }

  .app {
    .navbar {
      background-color: $secondary-dark;
      color: $logo-color;
      padding: 0;
      .button {
        color: $logo-color;
      }
      .right {
        margin-right: 0%;
        margin-left: auto;
      }
    }

    .content {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      padding: 0.5%;
      margin-bottom: 2%;
    }

    .card {
      background-color: $secondary-dark;
      color: $text-color;
      padding: 1%;
      padding-bottom: 5%;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }

    .underline-title {
      border-bottom: 1px solid currentColor;
      line-height: 2;
      margin-bottom: 2%;
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      min-height: 20px;
      color: $logo-color;
      background-color: $secondary-dark;
      margin-top: 5%;
    }
  }
}
